
.gradle/
build/
*/build/
captures/

*.apk
*.aab
*.ap_
*.dex
*.class


/proguard/
/app/proguard/

.idea/
*.iml
*.iws
*.ipr
.navigation/


.idea/workspace.xml
.idea/tasks.xml
.idea/navCompiler.xml
.idea/assetWizardSettings.xml
.idea/caches/


local.properties


*.jks
*.keystore


.DS_Store
Thumbs.db

.externalNativeBuild
.cxx/