
.gradle/
build/
*/build/
captures/

*.apk
*.aab
*.ap_
*.dex
*.class


/proguard/
/app/proguard/

.idea/
*.iml
*.iws
*.ipr
.navigation/


.idea/workspace.xml
.idea/tasks.xml
.idea/navCompiler.xml
.idea/assetWizardSettings.xml
.idea/caches/


local.properties


*.jks
*.keystore


.DS_Store
Thumbs.db

.externalNativeBuild
.cxx/
/app/release/baselineProfiles/1/app-release.dm
/app/release/baselineProfiles/0/app-release.dm
/app/src/test/java/com/Zero23/countdown/data/BackupImagesTest.kt
/app/release/mapping.txt
/app/release/output-metadata.json
